@font-face {
    font-family: 'Anfisa Grotesk';
    src: url('../fonts/anfisa_grotesk.eot');
    src: url('../fonts/anfisa_grotesk.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anfisa_grotesk.woff') format('woff'),
         url('../fonts/anfisa_grotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}