
.room-rect {
    width:160px;
	height:80px;
    margin:30px;
    display:inline-block;
    text-align:center;
}
.room-circle {
	width:155px;
	height:155px;
	background-color:#e5e5ff;
	border-radius:100%;

	padding-top: 15px;
    text-align:center;
}

.map-svg_west {
    margin-top: 10px;
    margin-bottom: 37px;
    width: 621px;
    height: 531px
}

.map-area, .map-svg {
    display: block;
    position: relative
}

.b-select-city {
    position: relative
}

.col-8 {
    width: 636px
}

.cols:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    font: 0/0 a;
    height: 0
}

.b-map {
    padding-top: 10px
}

.col-2 {
    width: 144px
}

.col-4 {
    width: 308px
}

.b-cities a {
    float: left;
    clear: left
}

.b-cities a.hover {
    color: #f06939
}

.b-cities .clear {
    height: 10px
}

.b-cities .current-city {
    font-size: 21px;
    line-height: 21px;
    height: 24px;
    overflow: hidden
}

.cities a {
    font-weight: 700
}

.col-1, .col-10, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    float: left
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    position: relative;
}

.logo-wrapper .logo {
    width: 92px;
    height: 92px;

    position: absolute;
    left: 50%;
    right: 50%;
    top: 5px;
    margin-left: -46px;
    z-index: 2;
}

.top-bar-section ul.right {
    width: 50%;
    padding-left: 60px;
}

.top-bar-section ul.right li {
    float: left;
}

.top-bar-section ul.left {
    width: 50%;
    padding-right: 60px;
}

.top-bar-section ul.left li {
    float: right;
}

.container_div {
    margin: 0 auto;
    width: 975px;
}
