#messages_list {
    max-height: 250px;
    overflow:auto;
}
.roomimage {
    width:100px;
    height:100px;
}
:focus::-webkit-input-placeholder {
    color: transparent;
}

.body-div-color {
    background: #f8f8f8;
    border-color: #E7E7E7;
}

.room-rect {
    width: 160px;
    height: 80px;
    margin: 30px;
    display: inline-block;
    text-align: center;
}

.room-circle {
    width: 165px;
    border-style: solid;
    border-width: 5px;
    height: 165px;
    background-color: #f8f8f8;
    border-radius: 100%;
    padding-top: 15px;
    text-align: center;
}

.map-svg_west {
    margin-top: 10px;
    margin-bottom: 37px;
    width: 621px;
    height: 531px
}

.map-area, .map-svg {
    display: block;
    position: relative
}

.b-select-city {
    position: relative
}

.col-8 {
    width: 636px
}

.cols:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    font: 0/0 a;
    height: 0
}

.b-map {
    padding-top: 10px
}

.col-2 {
    width: 144px
}

.col-4 {
    width: 308px
}

.b-cities a {
    float: left;
    clear: left
}

.b-cities a.hover {
    color: #f06939
}

.b-cities .clear {
    height: 10px
}

.b-cities .current-city {
    font-size: 21px;
    line-height: 21px;
    height: 24px;
    overflow: hidden
}

.cities a {
    font-weight: 700
}

.col-1, .col-10, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    float: left
}

.col-2 a {
    color: #2285a2;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    position: relative;
}

.logo-wrapper .logo {
    width: 150px;
    height: 150px;

    position: absolute;
    left: 50%;
    right: 50%;
    top: -15px;
    margin-left: -75px;
    z-index: 2;
}

.top-bar-section ul.right {
    width: 50%;
    padding-left: 60px;
}

.top-bar-section ul.right li {
    float: left;
}

.top-bar-section ul.left {
    width: 50%;
    padding-right: 60px;
}

.top-bar-section ul.left li {
    float: right;
}

.container-div {
    margin: 0 auto;
    width: 975px;
}

.map-region:hover,
.map-region[data-state='hover'] {
    color: #44c7db;
}

a:hover {
    /*color: rgb(0, 207, 175) !important;*/
    color: #44c7db !important;
}

.circular {
    width: 160px;
    margin: 0 auto;
    height: 160px;
    border-radius: 170px;
    -webkit-border-radius: 170px;
    -moz-border-radius: 170px;
    background: url(http://cs606017.vk.me/v606017802/6dec/kVGSXViwGC0.jpg) round;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular-logo {
    width: 100px;
    margin: 0 auto;
    height: 100px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #45c8d9;;
}
.circular-friend {
    width: 100px;
    margin: 0 auto;
    height: 100px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-color: #6d655c;;
}

.color-white {
    color: #ffffff !important;
}

a, h1, h2, h3, h4, h5, h6{
    color: inherit;
}

.left-off-button{
    border: 2px solid #252932;
    border-radius: 20px;
}

.left-off-button :hover{
    color: #252932;
    border: 0;
    border-radius: 0;
}

fieldset.title {
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    padding: 0;
}

.holder{
 position:relative;
}
.block{
    position:absolute;

    display:none;
    color: #000000;

}

.holder:hover .block{
    display:block;
}

fieldset.title legend {
    padding: 5px 10px;
    background: transparent;
}

label :checked {
    background-color: #6d655c;
}

.tab-bar {
    height: 5.8125rem;
    background: white;
}

.switch-toggle {
    width: 400px;
    margin: 0 auto;
}
/* Базовые стили слоя затемнения и модального окна  */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; /* тип курсара */
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}
.is-image {
top: 0;
right: 0;
bottom: 0;
left: 0;
display:block;
margin: auto;
width: 100%;
height: auto;
/* скругление углов встроенных картинок */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
}
/* встроенные элементы м-медиа, фреймы */
embed, iframe {
top: 0;
right: 0;
bottom: 0;
left: 0;
display:block;
margin: auto;
min-width: 320px;
max-width: 600px;
width: 100%;
}
.popup h1 { /* заголовок 1 */
color: #008000;
text-align: left;
text-shadow: 0 1px 3px rgba(0,0,0,.3);
font:24px 'Trebuchet MS', Helvetica, sans-serif;
font-weight: bold;
}
.popup h2 { /* заголовок 2 */
color: #008000;
text-align: left;
text-shadow: 0 1px 3px rgba(0,0,0,.3);
font:22px 'Trebuchet MS', Helvetica, sans-serif;
}
/*** Формируем стили модального окна ***/
.popup {

top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 10;
display: block;
visibility: hidden;
margin: 0 auto;
width: 90%;
min-width: 320px;
max-width: 600px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
/* скругление углов */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
/* внешняя тень блока */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
/* полная прозрачность окна, появление при клике */
opacity: 0;
/* эффект перехода (появление) */
-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
-ms-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
}
/* активируем появление окна и затемнение фона */
.overlay:target+.popup {
top: 20%; /* положение окна от верха страницы при появлении */
visibility: visible;
opacity: 1; /* убираем прозрачность */
}
/* формируем кнопку закрытия */
.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
/* задаём значения и эффект перехода при наведении */
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: rgba(252, 20, 0, 0.8);
/* крутим кнопку при наведении */
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
/* опционально при добавлении вложений */
.popup p, .popup div {
margin-bottom: 10px;
}