{% extends 'base.html' %}
{% load staticfiles %}
{% block map %}
    <script type="text/javascript" src="{% static "js/jquery/jquery.svg.js" %}"></script>
    <script type="text/javascript" src="{% static "js/map.js" %}"></script>

    <div class="container_div">
        <div class="cols b-select-city">
            <div class="col-8">
                <div class="b-map">

                    <div class="map-svg map-svg_west">
                        <object data="{% static 'img/map.svg' %}" type="image/svg+xml"></object>
                    </div>
                </div>
            </div>
            <div class="col-4 b-cities">
                <div class="clear"></div>

                <div class="col-2">
                    {% for region in regions %}
                        <a href="{{ region.region_url }}" id="{{ region.region_id }}" data-iscity=""
                           title="{{ region.region_title }}" class=""
                           data-state="">
                            {{ region.region_name }}
                        </a>
                        {% if  region.region_id == 'region_636370' %}
                        </div>
                        <div class="col-2">
                        {% endif %}
                    {% endfor %}
                    </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}