.multi_checkbox input[type="checkbox"] {
    display: none;
}

.multi_checkbox input[type="checkbox"] + label {
}

.multi_checkbox input[type="checkbox"]:checked + label {
    border: solid 4px #44c7db;
}

.multi_checkbox-invite {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: solid 4px white;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #6d655c;;
}

.multi_radiobutton input[type="radio"] {
    display: none;
}



.multi_radiobutton input[type="radio"]:checked + img{
    border: solid 4px #44c7db;
}


