{% load staticfiles %}
{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    <meta charset="UTF-8">
    <title>Weekdays</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/ff/css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/weekdays.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/authenty.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/anfisa.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/toggle-switch.css" %}">


    <script type="text/javascript" src="{% static "js/base.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ff/foundation/foundation.js" %}"></script>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
</head>
<body>
<!-- Navigation -->
<a href="#x" class="overlay" id="win1"></a>

<div class="popup">
    <h2>Загрузка новой фотографии</h2>
    <br>
    <h5>Вы можете загрузить изображение в формате JPG,GIF или PNG.</h5>

    <form enctype="multipart/form-data" action="/" method="post">
        {% csrf_token %}
        {{ user_avatar_change_form }}
        <br>
        <button class="button" type="submit" style="left: 400px">Сохранить</button>
    </form>

    <a class="close" title="Закрыть" href="#close"></a>
</div>
<a href="#x" class="overlay" id="win2"></a>

<div class="popup" style="max-width: 540px">
    <h2>Предупреждение</h2>
    Вы уверены, что хотите удалить фотографию?
    <br>
    <br>
    <br>
    <input type="button" class="button" style="width: 140px; left: 350px" value="Удалить">
    <a class="close" title="Закрыть" href="#close"></a>
</div>
<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <a href="/" style="margin-top: 20px">
                    <div class="circular-logo"
                         style="margin-top: 10px;
                                 margin-bottom: 20px;
                                 background-image: url({% static "img/logo.png" %})">
                    </div>
                </a>
            </section>

            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <br>
            <br>

            <div class="text-center color-white">
                {% if user.username %}
                    {% include "left_sidebar.html" %}
                {% else %}
                    {% include "sidebar_login.html" %}
                {% endif %}
            </div>
        </aside>

        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Сегодня:</label></li>
                {% for room in rooms_today %}
                <li><a href="/rooms/get/{{ room.id }}">{{ room.room_title }} ( {{ room.room_to_date }} )</a></li>
                {% empty %}
                <li>   нет событий</li>
                {% endfor %}
                <li><label>Скоро:</label></li>
                {% for room in rooms_soon %}
                <li><a href="/rooms/get/{{ room.id }}">{{ room.room_title }} ( {{ room.room_to_date }} )</a></li>
                {% empty %}
                <li>   нет событий</li>
                {% endfor %}

                <!--<li class="has-submenu"><a href="#">Саша Попов</a>
                    <ul class="right-submenu">
                        <li class="back"><a href="#">Back</a></li>
                        <li><label>Level 1</label></li>
                        <li><a href="#">Link 1</a></li>
                        <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                            <ul class="right-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                <li><label>Level 2</label></li>
                                <li><a href="#">...</a></li>
                            </ul>
                        </li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li>-->

            </ul>
        </aside>

        <section class="main-section" style="min-height: 1000px">
            <br/>

            <div class="text-center font-anfisa">
                {{ header }}
                <hr>
            </div>
            {% block map %}{% endblock %}
            {% block rooms %}{% endblock %}
            {% block login %}{% endblock %}
            {% block user_page %}{% endblock %}
            {% block edit %}{% endblock %}
            {% block user_rooms %}{% endblock %}
            {% block user_friends %}{% endblock %}
            {% block users %}{% endblock %}
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>
<!-- /navigation -->

<style>
    @font-face {
        font-family: 'anfisa_grotesk';
        src: url('{% static 'fonts/anfisa_grotesk.ttf' %}');
        src: local('{% static 'fonts/anfisa_grotesk.ttf' %}');
    }
</style>
</body>
</html>