{% load staticfiles %}
{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    <meta charset="UTF-8">
    <title>Weekdays</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/datepicker/foundation-datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/datepicker/foundation-datepicker.less" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ff/css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/weekdays.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/authenty.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/toggle-switch.css" %}">

    <script type="text/javascript" src="{% static "js/ff/foundation/foundation-datetimepicker.js" %}"></script>

    <script type="text/javascript" src="{% static "js/base.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ff/foundation/foundation.js" %}"></script>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
</head>
<body >
<!-- Navigation -->
<a href="#x" class="overlay" id="win1"></a>

<div class="popup">
    <h2>Загрузка новой фотографии</h2>
    <br>
    <h5>Вы можете загрузить изображение в формате JPG,GIF или PNG.</h5>
        <form enctype="multipart/form-data" action="/" method="post">
            {% csrf_token %}
            {{ form1 }}
            <br>
            <button class="button" type="submit" style="left: 400px">Сохранить</button>
        </form>

    <a class="close" title="Закрыть" href="#close"></a>
</div>
<a href="#x" class="overlay" id="win2"></a>

<div class="popup" style="max-width: 540px">
    <h2>Предупреждение</h2>
    Вы уверены, что хотите удалить фотографию?
    <br>
    <br>
    <br>
    <input type="button" class="button" style="width: 140px; left: 350px" value="Удалить">
    <a class="close" title="Закрыть" href="#close"></a>
</div>
<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <a href="/" style="margin-top: 20px">
                    <div class="circular-logo"
                         style="margin-top: 10px;
                                 margin-bottom: 20px;
                                 background-image: url({% static "img/logo.png" %})">
                    </div>
                </a>
            </section>

            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <br>
            <br>

            <div class="text-center color-white">
                {% if user.username %}

                    <div class='holder'>
                        <div class="circular" style="background: url({{ user.avatar.url }}) round; position: relative">
                            <div class='block' style="color: #ffffff">
                                <a href="/#win2">
                                    <aside class="fa fa-times-circle" title="Удалить фотографию"
                                           style="color:#000000;position: absolute;width:20px; left: 70px;">
                                    </aside>
                                </a>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <a href="/#win1"><i class="fa fa-upload" title="Загрузить новую фотографию"
                                                   style="position: absolute;background: rgba(0, 0, 0, 0.5);width:100px;left:30px;">
                                    Загрузить
                                </i></a>
                            </div>
                        </div>
                    </div>

                    <br>
                    {% if user.username_image %}
                        <img src="{{ user.username_image.url }}">
                    {% endif %}

                    <h6>{{ user.email }}</h6>
                    <h6>Кировская обл.</h6>

                    <div class="row">
                        <div class="large-6 columns">
                            <i class="fa fa-edit"></i>
                            <a href="/account/edit/">edit</a>
                        </div>
                        <div class="large-6 columns">
                            <i class="fa fa-sign-out"></i>
                            <a href="/auth/logout">выход</a>
                        </div>
                    </div>
                    <hr>
                    <ul class="side-nav">
                        <li><a class="color-white" href="//127.0.0.1:8000/account/rooms">Ваши комнаты</a></li>
                        <li><a class="color-white" href="//127.0.0.1:8000/rooms/all">Все комнаты</a></li>
                        <li><a class="color-white" href="//127.0.0.1:8000/account/friends">Друзья</a></li>
                        <li><a class="color-white" href="#">Приглашения</a></li>
                    </ul>
                    <hr>
                    <button onclick="$('#tags').slideUp('slow')">
                        up
                    </button>
                    <button onclick="$('#tags').slideDown('slow')">
                        up
                    </button>
                    <div id="tags">
                        <button class="left-off-button">tag</button>
                        <button class="left-off-button">tagtag</button>
                        <button class="left-off-button">fff</button>
                        <button class="left-off-button">tagtag</button>
                        <button class="left-off-button">fftagf</button>
                        <button class="left-off-button">fff</button>
                        <button class="left-off-button">fff</button>
                    </div>
                {% else %}
                    {% include "sidebar_login.html" %}
                {% endif %}
            </div>
        </aside>

        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Users</label></li>
                <li><a href="#">Hari Seldon</a></li>
                <li class="has-submenu"><a href="#">R. Giskard Reventlov</a>
                    <ul class="right-submenu">
                        <li class="back"><a href="#">Back</a></li>
                        <li><label>Level 1</label></li>
                        <li><a href="#">Link 1</a></li>
                        <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                            <ul class="right-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                <li><label>Level 2</label></li>
                                <li><a href="#">...</a></li>
                            </ul>
                        </li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li>
                <li><a href="#">...</a></li>
            </ul>
        </aside>

        <section class="main-section" style="min-height: 1000px">
            <div class="text-center">
                <hr>
                {{ header }}
                {{ ip.name }}
                <hr>
            </div>
            {% block map %}{% endblock %}
            {% block rooms %}{% endblock %}
            {% block login %}{% endblock %}
            {% block user_page %}{% endblock %}
            {% block edit %}{% endblock %}
            {% block user_rooms %}{% endblock %}
            {% block user_friends %}{% endblock %}
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>
<!-- /navigation -->


</body>
</html>