{% load staticfiles %}
{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    <meta charset="UTF-8">
    <title>Weekdays</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/ff/css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation-datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/weekdays.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/authenty.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/toggle-switch.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ff/foundation/foundation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation/foundation-datepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation/foundation-datetimepicker.js" %}"></script>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
</head>
<body>
<!-- Navigation -->
<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <a href="/">
                    <img src="{% static "img/logo.png" %}">
                </a>
            </section>

            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <br>
            <br>

            <div class="text-center color-white">
                {% if user.username %}
                    <div class="circular">

                    </div>
                    <br>
                    <h5>{{ user.username }}</h5>
                    <h6>{{ user.email }}</h6>
                    <h6>Кировская обл.</h6>

                    <div class="row">
                        <div class="large-6 columns">
                            <i class="fa fa-edit"></i>
                            <a href="/account/edit/">edit</a>
                        </div>
                        <div class="large-6 columns">
                            <i class="fa fa-sign-out"></i>
                            <a href="/auth/logout">выход</a>
                        </div>
                    </div>
                    <hr>
                    <ul class="side-nav color-white">
                        <li><a href="#">Ваши комнаты</a></li>
                        <li><a href="#">Сообщения</a></li>
                        <li><a href="#">Друзья</a></li>
                        <li><a href="#">Приглашения</a></li>
                    </ul>
                    <hr>
                    <button onclick="$('#tags').slideUp('slow')">
                        up
                    </button>
                    <button onclick="$('#tags').slideDown('slow')">
                        up
                    </button>
                    <div id="tags">
                        <button class="left-off-button">tag</button>
                        <button class="left-off-button">tagtag</button>
                        <button class="left-off-button">fff</button>
                        <button class="left-off-button">tagtag</button>
                        <button class="left-off-button">fftagf</button>
                        <button class="left-off-button">fff</button>
                        <button class="left-off-button">fff</button>
                    </div>
                {% else %}
                    {% include "sidebar_login.html" %}
                {% endif %}
            </div>
        </aside>

        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Users</label></li>
                <li><a href="#">Hari Seldon</a></li>
                <li class="has-submenu"><a href="#">R. Giskard Reventlov</a>
                    <ul class="right-submenu">
                        <li class="back"><a href="#">Back</a></li>
                        <li><label>Level 1</label></li>
                        <li><a href="#">Link 1</a></li>
                        <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                            <ul class="right-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                <li><label>Level 2</label></li>
                                <li><a href="#">...</a></li>
                            </ul>
                        </li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li>
                <li><a href="#">...</a></li>
            </ul>
        </aside>

        <section class="main-section" style="min-height: 1000px">
            {% block map %}{% endblock %}
            {% block rooms %}{% endblock %}
            {% block login %}{% endblock %}
            {% block user_page %}{% endblock %}
            {% block edit %}{% endblock %}
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>
<!-- /navigation -->


</body>
</html>