{% load static %}
{% load thumbnail %}
<a href="/account/{{ user.username }}">
    <div class='holder'>
        {% thumbnail user.avatar "160x160" as im %}
            <div class="circular" style="background: url({{ im.url }}); position: relative">
                <!-- Коля, скопируешь -> удали
                <div class='block' style="color: #ffffff">
                    <a href="/#win2">
                        <aside class="fa fa-times-circle" title="Удалить фотографию"
                               style="color:#000000;position: absolute;width:20px; left: 70px;">
                        </aside>
                    </a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="/#win1"><i class="fa fa-upload" title="Загрузить новую фотографию"
                                        style="position: absolute;background: rgba(0, 0, 0, 0.5);width:100px;left:30px;">
                        Загрузить
                    </i></a>
                </div>
                -->
            </div>
        {% endthumbnail %}
    </div>

    <br>
    {% if user.username_image %}
        <img src="{{ user.username_image.url }}">
    {% endif %}
    <h6>{{ user.email }}</h6>
    <h6>{{ user.region.region_name }}</h6>

</a>
<ul class="side-nav">
    <li><a class="color-white" href="/account/edit/"><i class="fa fa-edit"></i> Редактировать</a>
    </li>
    <li><a class="color-white" href="/auth/logout"><i class="fa fa-sign-out"></i> Выход</a>
    </li>
</ul>
<hr>
<ul class="side-nav">
    <li><a class="color-white" href="/account/users"><i class="fa fa-search"></i> Поиск пользователя</a>
    </li>
    <li><a class="color-white" href="/account/rooms"><i class="fa fa-th-large"></i> Мои комнаты</a>
    </li>
    <li><a class="color-white" href="/rooms{{ user.region.region_url }}"><i class="fa fa-th-large"></i>
        Комнаты {{ user.region.region_title }}</a>
    </li>
    <li><a class="color-white" href="/rooms/all"><i class="fa fa-th"></i> Все комнаты</a></li>
    <li><a class="color-white" href="/account/friends"><i class="fa fa-users"></i> Мои друзья</a></li>
    <li><a class="color-white" href="/account/invites"><i class="fa fa-plus"></i> Мои приглашения <span
            class="label">{{ invite_counts }}</span></a></li>
</ul>
<hr>
<div id="tags">
    {% for hash_tag in hash_tags %}
        <a href="/rooms{{ user.region.region_url }}/all/{{ hash_tag.hash_name }}/">
            <button class="left-off-button">{{ hash_tag.hash_name }}</button>
        </a>
    {% endfor %}
</div>