{% load static %}
{% load thumbnail %}
<div class='holder'>
    <a href="//127.0.0.1:8000/account/{{ user.username }}">
        {% thumbnail user.avatar "160x160" as im %}
            <div class="circular" style="background: url({{ im.url }}); position: relative">
                <!-- Коля, скопируешь -> удали
                <div class='block' style="color: #ffffff">
                    <a href="/#win2">
                        <aside class="fa fa-times-circle" title="Удалить фотографию"
                               style="color:#000000;position: absolute;width:20px; left: 70px;">
                        </aside>
                    </a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="/#win1"><i class="fa fa-upload" title="Загрузить новую фотографию"
                                        style="position: absolute;background: rgba(0, 0, 0, 0.5);width:100px;left:30px;">
                        Загрузить
                    </i></a>
                </div>
                -->
            </div>
        {% endthumbnail %}
    </a>
</div>

<br>
{% if user.username_image %}
    <a href="//127.0.0.1:8000/account/{{ user.username }}">
        <img src="{{ user.username_image.url }}">
    </a>
{% endif %}
<a href="//127.0.0.1:8000/account/{{ user.username }}">
    <h6>{{ user.email }}</h6>
</a>
<h6>Кировская обл.</h6>

<div class="row">
    <div class="large-6 small-6 columns">
        <i class="fa fa-edit"></i>
        <a href="/account/edit/">edit</a>
    </div>
    <div class="large-6 small-6 columns">
        <i class="fa fa-sign-out"></i>
        <a href="/auth/logout">выход</a>
    </div>
</div>
<hr>
<ul class="side-nav">
    <li><a class="color-white" href="//127.0.0.1:8000/account/users"><i class="fa fa-search"></i> Поиск пользователя</a>
    </li>
    <li><a class="color-white" href="//127.0.0.1:8000/account/rooms"><i class="fa fa-th-large"></i> Ваши комнаты</a>
    </li>
    <li><a class="color-white" href="//127.0.0.1:8000/rooms/all"><i class="fa fa-th"></i> Все комнаты</a></li>
    <li><a class="color-white" href="//127.0.0.1:8000/account/friends"><i class="fa fa-users"></i> Друзья</a></li>
    <li><a class="color-white" href="#"><i class="fa fa-plus"></i> Приглашения</a></li>
</ul>
<hr>
<button onclick="$('#tags').slideUp('slow')">
    up
</button>
<button onclick="$('#tags').slideDown('slow')">
    down
</button>
<div id="tags">
    <button class="left-off-button">секс</button>
    <button class="left-off-button">наркотики</button>
    <button class="left-off-button">рок-н-ролл</button>
    <button class="left-off-button">да</button>
    <button class="left-off-button">нет</button>
    <button class="left-off-button">ни зяю</button>
    <button class="left-off-button">саша</button>
</div>