{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Weekdays</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/weekdays.css" %}">
    <script rel="stylesheet" type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script rel="stylesheet" type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
</head>
<body>
<nav class=" navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="col-xs-2">
            <div class="row vertical-align">
                <div class="">
                    <a href="/">
                        <img src="{% static "img/logo.gif" %}" alt="logo" width="80%">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="collapse navbar-collapse text-center" id="navbar-collapse-1">
                <h1>WE ARE AWESOME</h1>
            </div>
            <div>
                <ul class="nav navbar-nav ">
                    {% if username %}
                        <li>
                            <a href="#" title="{{ username }}">
                                <img src="http://cs606017.vk.me/v606017802/6def/wf3hHo1sZtY.jpg"
                                     style="width:49px; margin-top: -15px;">
                            </a>
                        </li>
                        <li><a href="#" title="{{ username }}">{{ username }}</a></li>
                        <li><a href="#">Сообщения</a></li>
                        <li><a href="#">Приглашения</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="/auth/logout">Выйти ({{ username }})</a></li>
                    {% else %}
                        <li><a href="/auth/login">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</nav>

<div class="row text-center">
    <div class="col-md-3"><a href="#"><img src="{% static "img/stay_strong.png" %}" width="30%">Категория</a></div>
    <div class="col-md-3"><a href="#"><img src="{% static "img/stay_strong.png" %}" width="30%">Категория</a></div>
    <div class="col-md-3"><a href="#"><img src="{% static "img/stay_strong.png" %}" width="30%">Категория</a></div>
    <div class="col-md-3"><a href="#"><img src="{% static "img/stay_strong.png" %}" width="30%">Категория</a></div>
</div>
<hr>

{% block map %}{% endblock %}
{% block rooms %}{% endblock %}
{% block login %}{% endblock %}
</body>
</html>