{% extends 'base.html' %}
{% load staticfiles %}

{% block rooms %}
    <link rel="stylesheet" type="text/css" href="{% static "css/datetimepicker/foundation-datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/datetimepicker/foundation-datepicker.less" %}">
    <script type="text/javascript" src="{% static "js/ff/foundation/foundation-datetimepicker.js" %}"></script>
    <div class="row">
    <h2>Редактирование комнаты</h2>

    <form action="" method="post">
        {% csrf_token %}
            <div>
                <label for="id_room_title"><strong>Введите название вашей новой комнаты:</strong></label>
                {{ form.room_title }}
            </div>
            <div>
                <label for="id_room_text"><strong>Введите описание комнаты:</strong></label>
                {{ form.room_text }}
            </div>
            <div>

                <label for="id_hash_tags"><strong>Ключевые слова - для того, чтобы людям было проще найти вашу комнату
                    (укажите через пробел):</strong></label>
                {{ form.hash_tags }}

            </div>

            <div class="small-5">
                <label style="white-space: nowrap" for="id_room_to_date"><strong>Дата мероприятия (указывать не
                    обязательно):</strong></label>

                <div class="row date collapse" data-date-format="dd-mm-yyyy hh:ii">
                    <div class="small-9 columns">
                        {{ form.room_to_date }}
                    </div>
                    <div class="small-3 columns">
                        <span class="postfix" onclick="$('#id_room_to_date').fdatetimepicker('show')"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        <div>
            <div><strong>Доступ в комнату</strong></div>
            <div class="switch">
                <input id="openCheckboxSwitch" type="checkbox" name="openclose" {{ open }}  >
                открытая <label for="openCheckboxSwitch"></label> закрытая (вход только по приглашениям)
            </div>
        </div>
        <!-- <div style="margin-top: 10px;">
                <div class="row">
                    <div class="small-3 large-3 columns">
                        <label for="meetingdate"><strong>Дата встречи :</strong> </label><input id="meetingdate"
                                                                                                name="mdate" type="date"
                                                                                                value="{{ ydate }}"/>
                    </div>
                    <div class="small-3 large-3 columns">
                        <label for="meetingtime"><strong>Время встречи :</strong></label><input id="meetingtime"
                                                                                                name="mtime" type="time"
                                                                                                value="{{ ytime }}"/>
                    </div>
                    <div class="small-6 large-6 columns">

                    </div>
                </div>


            </div>-->
        <label><strong>Выберите регион для публикации комнаты</strong>
            <select name="region_select">
                <option value="0">Все</option>
                {% for region in regions_list %}
                    {% if region.id == roomreg %}
                        <option selected value="{{ region.id }}">{{ region.region_name }}</option>
                    {% else %}
                        <option value="{{ region.id }}">{{ region.region_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>

        <div><strong>Выберите соответствующее изображение для комнаты</strong></div>
        <!--<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">

                <li><input id='r1' type="radio" name="action_image" value="a1"{% if nofimage == '1' %}
                           checked {% endif %}><img src="{% static "img/1.png" %}"
                                                    onclick="document.getElementById('r1').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r2' type="radio" name="action_image" value="a2"{% if nofimage == '2' %}
                           checked {% endif %}><img src="{% static "img/2.png" %}"
                                                    onclick="document.getElementById('r2').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r3' type="radio" name="action_image" value="a3"{% if nofimage == '3' %}
                           checked {% endif %}><img src="{% static "img/3.png" %}"
                                                    onclick="document.getElementById('r3').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r4' type="radio" name="action_image" value="a4"{% if nofimage == '4' %}
                           checked {% endif %}><img src="{% static "img/4.png" %}"
                                                    onclick="document.getElementById('r4').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r5' type="radio" name="action_image" value="a5"{% if nofimage == '5' %}
                           checked {% endif %}><img src="{% static "img/5.png" %}"
                                                    onclick="document.getElementById('r5').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r6' type="radio" name="action_image" value="a6"{% if nofimage == '6' %}
                           checked {% endif %}><img src="{% static "img/6.png" %}"
                                                    onclick="document.getElementById('r6').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r7' type="radio" name="action_image" value="a7"{% if nofimage == '7' %}
                           checked {% endif %}><img src="{% static "img/7.png" %}"
                                                    onclick="document.getElementById('r7').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r8' type="radio" name="action_image" value="a8"{% if nofimage == '8' %}
                           checked {% endif %}><img src="{% static "img/8.png" %}"
                                                    onclick="document.getElementById('r8').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r9' type="radio" name="action_image" value="a9"{% if nofimage == '9' %}
                           checked {% endif %}><img src="{% static "img/9.png" %}"
                                                    onclick="document.getElementById('r9').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r10' type="radio" name="action_image" value="a10"{% if nofimage == '10' %}
                           checked {% endif %}><img src="{% static "img/10.png" %}"
                                                    onclick="document.getElementById('r10').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r11' type="radio" name="action_image" value="a11"{% if nofimage == '11' %}
                           checked {% endif %}><img src="{% static "img/11.png" %}"
                                                    onclick="document.getElementById('r11').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r12' type="radio" name="action_image" value="a12"{% if nofimage == '12' %}
                           checked {% endif %}><img src="{% static "img/12.png" %}"
                                                    onclick="document.getElementById('r12').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r13' type="radio" name="action_image" value="a13"{% if nofimage == '13' %}
                           checked {% endif %}><img src="{% static "img/13.png" %}"
                                                    onclick="document.getElementById('r13').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r14' type="radio" name="action_image" value="a14"{% if nofimage == '14' %}
                           checked {% endif %}><img src="{% static "img/14.png" %}"
                                                    onclick="document.getElementById('r14').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r15' type="radio" name="action_image" value="a15"{% if nofimage == '15' %}
                           checked {% endif %}><img src="{% static "img/15.png" %}"
                                                    onclick="document.getElementById('r15').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r16' type="radio" name="action_image" value="a16"{% if nofimage == '16' %}
                           checked {% endif %}><img src="{% static "img/16.png" %}"
                                                    onclick="document.getElementById('r16').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r17' type="radio" name="action_image" value="a17"{% if nofimage == '17' %}
                           checked {% endif %}><img src="{% static "img/17.png" %}"
                                                    onclick="document.getElementById('r17').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r18' type="radio" name="action_image" value="a18"{% if nofimage == '18' %}
                           checked {% endif %}><img src="{% static "img/18.png" %}"
                                                    onclick="document.getElementById('r18').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r19' type="radio" name="action_image" value="a19"{% if nofimage == '19' %}
                           checked {% endif %}><img src="{% static "img/19.png" %}"
                                                    onclick="document.getElementById('r19').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r20' type="radio" name="action_image" value="a20"{% if nofimage == '20' %}
                           checked {% endif %}><img src="{% static "img/20.png" %}"
                                                    onclick="document.getElementById('r20').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r21' type="radio" name="action_image" value="a21"{% if nofimage == '21' %}
                           checked {% endif %}><img src="{% static "img/21.png" %}"
                                                    onclick="document.getElementById('r21').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r22' type="radio" name="action_image" value="a22"{% if nofimage == '22' %}
                           checked {% endif %}><img src="{% static "img/22.png" %}"
                                                    onclick="document.getElementById('r22').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r23' type="radio" name="action_image" value="a23"{% if nofimage == '23' %}
                           checked {% endif %}><img src="{% static "img/23.png" %}"
                                                    onclick="document.getElementById('r23').checked='checked';"
                                                    class="roomimage"></li>
                <li><input id='r24' type="radio" name="action_image" value="a24"{% if nofimage == '24' %}
                           checked {% endif %}><img src="{% static "img/24.png" %}"
                                                    onclick="document.getElementById('r24').checked='checked';"
                                                    class="roomimage"></li>
            </ul>-->
        <div class="panel callout radius">

            <div class="switch-toggle switch-4 alert-box secondary round ">
                <input id="cat_common" name="view" type="radio" value="common"
                        {% if categ == 1 %}
                       checked=""
                        {% endif %}>
                <label for="cat_common" onclick="Dajaxice.room.get_images_list(Dajax.process,
                                                        {'toggle': 'by_common'});">Общее</label>

                <input id="cat_communication" name="view" type="radio" value="communication"
                        {% if categ == 2 %}
                       checked=""
                        {% endif %}>
                <label for="cat_communication" onclick="Dajaxice.room.get_images_list(Dajax.process,
                                                        {'toggle': 'by_communication'});">Общение</label>

                <input id="cat_sports" name="view" type="radio" value="sports"
                        {% if categ == 3 %}
                       checked=""
                        {% endif %}>
                <label for="cat_sports" onclick="Dajaxice.room.get_images_list(Dajax.process,
                                                        {'toggle': 'by_sports'});">Спорт</label>

                <input id="cat_cult_ent" name="view" type="radio" value="cult_ent"
                        {% if categ == 4 %}
                       checked=""
                        {% endif %}>
                <label for="cat_cult_ent" onclick="Dajaxice.room.get_images_list(Dajax.process,
                                                        {'toggle': 'by_cult_ent'});">Культура/Развлечения</label>

                <a class="button"></a>
            </div>
            <div id="imagechoicelist">
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" style="margin-top: 20px">

                    {% for image in images %}
                        <li>
                            <input id='r{{ image.id }}' type="radio" name="action_image"
                                   value="{{ image.roomimage_image.url }}"
                                    {% if nofimage == image.roomimage_image.url %}
                                   checked {% endif %}>
                            <img src="{% static image.roomimage_image.url %}"
                                 onclick="document.getElementById('r{{ image.id }}').checked='checked';"
                                 class="roomimage">
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Сохранить</button>
    </form>
    <script>
        $(function () {
            window.prettyPrint && prettyPrint();
            $('#id_room_to_date').fdatetimepicker({
                format: 'dd.mm.yyyy hh:ii'
            });
        });
    </script>
    </div>
{% endblock %}