{% extends 'base.html' %}
{% block rooms %}
    {% load dajaxice_templatetags %}
    {% load staticfiles %}

    {% dajaxice_js_import %}

    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/datetimepicker/foundation-datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/datetimepicker/foundation-datepicker.less" %}">
    <script type="text/javascript" src="{% static "js/ff/foundation/foundation-datetimepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/tagsinput/jquery.tagsinput.css" %}">
    <script type="text/javascript" src="{% static "js/tagsinput/jquery.tagsinput.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/rooms.css" %}">
    <script type="text/javascript" src="{% static "js/rooms.js" %}"></script>
    <div class="row">

        <form action="/rooms/addroom/" method="post">
            {% csrf_token %}

            <div>
                <label for="id_room_title"><strong>Введите название:</strong></label>
                {{ form.room_title }}
            </div>
            <div>
                <label for="id_room_text"><strong>Введите описание:</strong></label>
                {{ form.room_text }}
            </div>
            <div>

                <label for="id_hash_tags"><strong>Ключевые слова - для того, чтобы людям было проще найти вашу комнату
                    :</strong></label>
                {{ form.hash_tags }}

            </div>
            <div>
                <div class="large-4 columns">
                    <label style="white-space: nowrap" for="id_room_to_date"><strong>Дата мероприятия (не
                        обязательно):</strong></label>

                    <div class="row date collapse" data-date-format="dd-mm-yyyy hh:ii">
                        <div class="small-9 columns">
                            {{ form.room_to_date }}
                        </div>
                        <div class="small-3 columns">
                            <span class="postfix" onclick="$('#id_room_to_date').fdatetimepicker('show')"><i
                                    class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="large-4 columns">
                    <label><strong>Выберите регион для публикации</strong>
                        <select name="region_select">
                            <option value="0">Все</option>
                            {% for region in regions_list %}



                                <option value="{{ region.id }}">{{ region.region_name }}</option>

                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="large-4 columns">
                    <div><strong>Доступ в комнату</strong></div>
                    <div class="switch">
                        <input id="openCheckboxSwitch" type="checkbox" name="openclose">

                        открытая
                        <label for="openCheckboxSwitch"></label>
                        по приглашениям

                    </div>
                </div>
            </div>

            <br>

            <div>
                <strong>Выберите соответствующее изображение для комнаты</strong>
            </div>

            <div class="panel callout">

                <div class="switch-toggle switch-4 alert-box secondary">
                    <input id="cat_common" name="view" type="radio" checked="" value="common">
                    <label for="cat_common" onclick="
                        var x = document.getElementsByClassName('imgs1');
                        var i;
                        x[0].getElementsByTagName('input')[0].checked = 'checked';
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'inline-block';
                        }
                        var x = document.getElementsByClassName('imgs2');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                        var x = document.getElementsByClassName('imgs3');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                        var x = document.getElementsByClassName('imgs4');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                    ">Общее</label>

                    <input id="cat_communication" name="view" type="radio" value="communication">
                    <label for="cat_communication" onclick="
                        var x = document.getElementsByClassName('imgs2');
                        var i;
                        x[0].getElementsByTagName('input')[0].checked = 'checked';
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'inline-block';
                        }
                        var x = document.getElementsByClassName('imgs1');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                        var x = document.getElementsByClassName('imgs3');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                        var x = document.getElementsByClassName('imgs4');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                    ">Общение</label>

                    <input id="cat_sports" name="view" type="radio" value="sports">
                    <label for="cat_sports" onclick="
                        var x = document.getElementsByClassName('imgs3');
                        var i;
                        x[0].getElementsByTagName('input')[0].checked = 'checked';
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'inline-block';
                        }
                         var x = document.getElementsByClassName('imgs1');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                        var x = document.getElementsByClassName('imgs2');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                        var x = document.getElementsByClassName('imgs4');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                    ">Спорт</label>

                    <input id="cat_cult_ent" name="view" type="radio" value="cult_ent">
                    <label for="cat_cult_ent" onclick="
                        var x = document.getElementsByClassName('imgs4');
                        var i;
                        x[0].getElementsByTagName('input')[0].checked = 'checked';
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'inline-block';
                        }
                         var x = document.getElementsByClassName('imgs1');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                        var x = document.getElementsByClassName('imgs2');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                        var x = document.getElementsByClassName('imgs3');
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = 'none';
                        }
                    ">Культура/Развлечения</label>

                    <a class="button"></a>
                </div>
                <br>

                <div id="imagechoicelist">
                    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" style="margin-top: 20px">

                        {% for image in images %}
                            <li class="multi_radiobutton imgs1">

                                <input id='r{{ image.id }}' type="radio" name="action_image"
                                       value="{{ image.roomimage_image.url }}"
                                        {% if image_first_id == image.id %}
                                       checked
                                        {% endif %}>
                                <img src="{% static image.roomimage_image.url %}"
                                     onclick="document.getElementById('r{{ image.id }}').checked='checked';"
                                     class="th">
                            </li>
                        {% endfor %}


                        {% for image in images2 %}
                            <li class='multi_radiobutton imgs2' style="display: none;">
                                <input id='r{{ image.id }}' type="radio" name="action_image"
                                       value="{{ image.roomimage_image.url }}">

                                <img src="{% static image.roomimage_image.url %}"
                                     onclick="document.getElementById('r{{ image.id }}').checked='checked';"
                                     class="th">
                            </li>
                        {% endfor %}



                        {% for image in images3 %}
                            <li class='multi_radiobutton imgs3' style="display: none;">
                                <input id='r{{ image.id }}' type="radio" name="action_image"
                                       value="{{ image.roomimage_image.url }}">

                                <img src="{% static image.roomimage_image.url %}"
                                     onclick="document.getElementById('r{{ image.id }}').checked='checked';"
                                     class="th">
                            </li>
                        {% endfor %}




                        {% for image in images4 %}
                            <li class='multi_radiobutton imgs4' style="display: none;">
                                <input id='r{{ image.id }}' type="radio" name="action_image"
                                       value="{{ image.roomimage_image.url }}"
                                        >
                                <img src="{% static image.roomimage_image.url %}"
                                     onclick="document.getElementById('r{{ image.id }}').checked='checked';"
                                     class="th">
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>


            <button type="submit" class="btn btn-default">Создать комнату</button>
        </form>
        <script>
            $(function () {
                window.prettyPrint && prettyPrint();
                $('#id_room_to_date').fdatetimepicker({
                    format: 'dd.mm.yyyy hh:ii'
                });
            });
            $('#id_hash_tags').tagsInput();
        </script>

    </div>
{% endblock %}