{% for message in messages %}
                        <div class="row">
                            <div class="small-6 medium-7 large-7 columns">
                                 <strong><a href="/account/{{ message.message_author }}/">{{ message.message_author }}</a>: </strong> {{ message.message_text }}
                            </div>
                            <div class="small-6 medium-5 large-5 columns">
                                ({{ message.message_datetime }})
                            </div>
                        </div>
{% endfor %}