{% extends 'base.html' %}
{% load staticfiles %}
{% block rooms %}
    <div class="row">
        <div class="small-10 columns">
            <h3>Комнаты: </h3>
            <p><a href="/rooms/makeroom/">Создать комнату</a></p>
            <ul class="small-block-grid-3">
                {% for room in rooms %}
                    <li>
                    <a href="/rooms/get/{{ room.id }}">
                        <div class="room-rect">
                            <h6>{{ room.room_title }}</h6>
                            <!-- <p>{{ room.room_create_date }}</p>-->
                            <div class="room-circle">
                                <img src="{% static "5.png" %}">

                                <p>В комнате:{{ room.room_people_count }}</p>
                            </div>
                        </div>
                    </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="small-2 columns"></div>
    </div>
    <hr>

{% endblock %}