{% extends 'base.html' %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
{% block rooms %}
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    <script type="text/javascript" src="{% static "js/rooms.js" %}"></script>
    <!-- NAVI -->
    <div class="row text-center b-map">
        <div class="large-3 columns"><a href="#"><img src="{% static "img/catall.png" %}" width="180px"></a>
        </div>
        <div class="large-3 columns"><a href="#"><img src="{% static "img/catcomm.png" %}" width="180px"></a>
        </div>
        <div class="large-3 columns"><a href="#"><img src="{% static "img/catsport.png" %}" width="180px"></a>
        </div>
        <div class="large-3 columns"><a href="#"><img src="{% static "img/catcult.png" %}" width="180px"></a>
        </div>
    </div>
    <div class="large-9 columns body-div-color">
        <br>

        <div class="text-center">
            <div class="small-6 large-6 columns">
                <div class="switch-toggle panel">
                    <input id="by_date" name="view" type="radio" checked="">
                    <label for="by_date" style="color: #ffffff" onclick="ajaxSort('by_date')">по дате
                        публикации</label>

                    <input id="by_people" name="view" type="radio">
                    <label for="by_people" onclick="ajaxSort('by_people')">по количеству участников</label>

                    <a class="button"></a>
                </div>
            </div>
            <div class="small-6 large-6 columns">
                <div class="switch-toggle switch-3 panel right" style="width: 30%">
                    <input id="gallery_view" name="view3" type="radio" checked>
                    <label for="gallery_view" style="color: #ffffff"
                           onclick="ajaxView('gallery_view')"><i class="fa fa-th"></i></label>
                    <input id="table_view" name="view3" type="radio">
                    <label for="table_view" onclick="ajaxView('table_view')"><i class="fa fa-list-ul"></i></label>
                    <input id="list_view" name="view3" type="radio">
                    <label for="list_view" onclick="ajaxView('list_view')"><i class="fa fa-bars"></i></label>
                    <a class="button"></a>
                </div>
            </div>
        </div>


        <div id="rooms" class="row">

            <ul class="small-block-grid-3">
                {% for room in rooms %}
                    <li>
                        <a href="/rooms/get/{{ room.id }}">
                            <div class="room-rect">
                                <h6>{{ room.room_title }}</h6>
                                <!-- <p>{{ room.room_create_date }}</p>-->
                                <div class="room-circle"
                                     style="border-color: {% cycle '#E7E7E7 #E7E7E7 #E7E7E7 #44c7db' '#E7E7E7 #E7E7E7 #44c7db #E7E7E7' '#E7E7E7 #44c7db #E7E7E7 #E7E7E7' '#44c7db #E7E7E7 #E7E7E7 #E7E7E7' %}">
                                    <img src="{% static room.room_image %}" class="roomimage">
                                    {{ iterator.next }}
                                    <p>В комнате:{{ room.room_people_count }}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% empty %}
                    Извинте, в вашем регионе нету комнат, пока...
                {% endfor %}
            </ul>
            <div class="row">
                <div class="large-3 large-offset-5 columns">
                    <ul class="pagination">
                        {% if rooms.has_previous %}
                            <li class="arrow"><a href="#"
                                                 onclick="Dajaxice.room.rooms_list(Dajax.process,
                                                         {'toggle':getSort(),
                                                         'region': document.getElementById('region_select').selectedIndex,
                                                         'p': {{ rooms.previous_page_number }},
                                                         'view': getView(),
                                                         'search_string': $('#search_string').val()})">&laquo;</a></li>
                        {% else %}
                            <li class="arrow unavailable"><a href="">&laquo;</a></li>
                        {% endif %}
                        {% for page in rooms.paginator.page_range %}
                            {% if page == rooms.number %}
                                <li class="current"><a href="#" style="color: #ffffff !important;"
                                                       onclick="Dajaxice.room.rooms_list(Dajax.process,
                                                               {'toggle':getSort(),
                                                               'region': document.getElementById('region_select').selectedIndex,
                                                               'p': {{ page }},
                                                               'view': getView(),
                                                               'search_string': $('#search_string').val()})">{{ page }}</a>
                                </li>
                            {% else %}
                                <li><a href="#" onclick="Dajaxice.room.rooms_list(Dajax.process,
                                        {'toggle':getSort(),
                                        'region': document.getElementById('region_select').selectedIndex,
                                        'p': {{ page }},
                                        'view': getView(),
                                        'search_string': $('#search_string').val()})">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if rooms.has_next %}
                            <li class="arrow"><a href="#"
                                                 onclick="Dajaxice.room.rooms_list(Dajax.process,
                                                         {'toggle':getSort(),
                                                         'region': document.getElementById('region_select').selectedIndex,
                                                         'p': {{ rooms.next_page_number }},
                                                         'view': getView(),
                                                         'search_string': $('#search_string').val()})">&raquo;</a></li>
                        {% else %}
                            <li class="arrow unavailable"><a href="">&raquo;</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="large-3 columns">
        <a href="/rooms/makeroom/"
           class="button [radius round]">Создать комнату</a>
        <label>Выберите область </label>

        <div class="small-12 columns">
            <select id="region_select"
                    onchange="window.location.replace('/rooms' + $( '#region_select option:selected' ).val())">
                <option value="/all">Все</option>
                {% for region in regions_list %}
                    {% if region.region_url == region_id %}
                        <option selected value="{{ region.region_url }}">{{ region.region_name }}</option>
                    {% else %}
                        <option value="{{ region.region_url }}">{{ region.region_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <label>Поиск по названию комнаты или ключевым словам </label>

        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" id=search_string placeholder="Ключевые слова" maxlength="200"
                               onchange="Dajaxice.room.rooms_list(Dajax.process,
                           {'toggle':getSort(),
                           'region': document.getElementById('region_select').selectedIndex,
                           'p': 1,
                           'view': getView(),
                           'search_string': $('#search_string').val()})"/>
                    </div>
                    <div class="small-2 columns">
                        <a href="#"
                           onchange="Dajaxice.room.rooms_list(Dajax.process,
                           {'toggle':getSort(),
                           'region': document.getElementById('region_select').selectedIndex,
                           'p': 1,
                           'view': getView(),
                           'search_string': $('#search_string').val()})" class="button postfix"><i
                                class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

{% endblock %}