{% extends 'base.html' %}
{% load thumbnail %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
{% block rooms %}
    {% dajaxice_js_import %}

    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ff/foundation/foundation.reveal.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/datetimepicker/foundation-datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/datetimepicker/foundation-datepicker.less" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/rooms.css" %}">
    <script type="text/javascript">
        function refresh() {
            Dajaxice.room.get_messages(Dajax.process, {'room_id': {{ room.id }}

            });
        }
        function scrolling() {
            document.getElementById('messages_list').scrollTop = 9999;
        }
        setInterval(refresh, 2000);
    </script>
    <br/>
    <div>
        <div class="large-8 medium-8 columns">
            <div class="row">
                <div class="small-3 large-3 columns">
                    <img src="{% static room.room_image %}" class="roomimage">
                </div>
                <br>

                <div class="small-9 large-9 columns">
                    <h3><strong>{{ room.room_title }}</strong></h3>
                </div>
            </div>
            <br/>
            <br/>

            <form>
                <fieldset>
                    <legend>Описание комнаты</legend>
                    <p>{{ room.room_text }}</p>
                </fieldset>
            </form>
            <div>
                <h5><strong>Обсуждение</strong></h5>

                <div id="messages_list">
                    {% for message in messages %}
                        <div class="row">
                            <div class="small-7 medium-8 large-9 columns">
                                <strong>
                                    <a href="/account/{{ message.user.username }}/">
                                        {% thumbnail message.user.avatar "45x45" as image %}
                                            <img src="{{ image.url }}" alt="{{ message.user.username }}"/>
                                        {% endthumbnail %}
                                        {{ message.user.username }}
                                    </a>:
                                </strong> {{ message.message_text }}
                            </div>
                            <div class="small-5 medium-4 large-3 columns">
                                ({{ message.message_datetime }})

                            </div>
                            {% if is_creator.is_creator or message.user == user %}
                                <div class="small-1 column">
                                    <div class="fa fa-times-circle"
                                         onclick="Dajaxice.room.delete_message(Dajax.process,
                                                 { 'room_id': {{ room.id }},
                                                 'message_id': {{ message.id }}
                                                 });"
                                         style="color:#000000;position: absolute;width:50px; left: 20px; bottom: 5px">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <br/>
                    {% endfor %}

                </div>
                <hr>
                {% if user in users_in_room %}
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="row collapse">
                                <div class="small-10 columns">
                                    <input type="text" id="message_text" placeholder="Текст сообщения"
                                           maxlength="200"/>
                                </div>
                                <div class="small-2 columns">
                                    <a href="#"
                                       onclick="if ($('#message_text').val().length>3) {
                                               Dajaxice.room.send_message(Dajax.process,
                                               {'room_id': {{ room.id }},
                                               'message_text':$('#message_text').val()

                                               });
                                               document.getElementById('message_text').value = '';
                                               setTimeout(scrolling,500)
                                               }"
                                       class="button postfix">
                                        <i class="fa fa-send"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="large-4 medium-4 columns">

            <div>
                <a href="/rooms/all/" class="button expand"><i class="fa fa-level-up"></i>
                    Вернуться к списку комнат
                </a>
            </div>
            <ul class="button-group">
                {% if user in users_in_room %}

                    {% if not is_creator.is_creator %}
                        <li>
                            <a href="/rooms/leave/{{ room.id }}/" class="button"><i class="fa fa-sign-out"></i>
                                Покинуть
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="button" href="#" data-reveal-id="invite_modal"><i class="fa fa-plus"></i>
                            Пригласить
                        </a>
                    </li>

                    {% if is_creator.is_creator %}
                        <li>
                            <a href="#" class="button"><i class="fa fa-flag"></i>
                                Назначить помошника
                            </a>
                        </li>
                        <li>
                            <a href="/rooms/editroom/{{ room.id }}/" class="button"><i class="fa fa-edit"></i>
                                Редактировать
                            </a>
                        </li>
                        <li>
                            <a href="#" class="button"><i class="fa fa-remove"></i>
                                Удалить
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li><a href="/rooms/join/{{ room.id }}/" class="button"><i class="fa fa-sign-in"></i> Вступить</a>
                    </li>
                {% endif %}
            </ul>
            <form>
                <fieldset>
                    <legend>Информация о комнате</legend>
                    <div class="panel callout radius">
                        <p><strong>Ключевые слова:</strong> {{ room.hash_tags }}</p>
                    </div>
                    <h4>Информация о комнате</h4>

                    <p><strong>Дата мероприятия:</strong>
                        {% if room.room_to_date %}
                            {{ room.room_to_date }}
                        {% else %}
                            не указана
                        {% endif %}
                    </p>

                    <p>Комнату создал
                        <strong> <a href="/account/{{ creator }}/">{{ creator }}</a></strong>
                        {{ room.room_create_date }}</p>

                    <p>{{ room_region }}</p>

                    <p>Категория: <strong>{{ categ }} </strong></p>

                    <p>Комната <strong>{{ openclose }}</strong></p>
                </fieldset>
            </form>
            <form>
                <fieldset>
                    <legend> В комнате {{ room.room_people_count }} человек</legend>
                    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                        {% for user in users_in_room %}
                            <li>
                                <a href="/account/{{ user.username }}/">
                                    <div class="text-center">
                                        <div>
                                            {% thumbnail user.avatar "45x45" as image %}
                                                <img src="{{ image.url }}" class="th" width="45px" height="45px"/>
                                            {% endthumbnail %}
                                        </div>
                                        <div>
                                            <label class="text-center">{{ user.username }}</label>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="invite_modal" class="reveal-modal" data-reveal>
        <h2>Приглашения</h2>

        <p class="lead">Выберите пользователей которых хотите пригласить.</p>

        <ul class="small-block-grid-3">
            {% for friend in friends %}
                <li>
                    <div class="multi_checkbox text-center">
                        {% comment %}style="background-image: url({{ friend.avatar.url }})">{% endcomment %}
                        <input type="checkbox" class="checkboxLabel"
                               id="checkbox_{{ friend.username }}"/>
                        {% thumbnail friend.avatar "100x100" as image %}
                            <label for="checkbox_{{ friend.username }}"
                                   style="background: url({{ image.url }}) no-repeat"
                                   class="multi_checkbox-invite th">

                            </label>
                            <label>{{ friend.username }}</label>
                        {% endthumbnail %}
                        <br/>

                    </div>
                </li>
            {% endfor %}
        </ul>
        <br/>
        <a href="#"><i class="fa fa-send"></i> Отправить приглашения</a>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    <script>
        $(document).foundation();
    </script>
{% endblock %}
