{% extends 'base.html' %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
{% block rooms %}
    {% dajaxice_js_import %}

    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>


        <div class="container-div" style="margin-top: 20px;">

            <div class="row text-center b-map">
            <a href="/rooms/all/" class="button [tiny small large]">К списку комнат</a>
            <a href="/rooms/editroom/{{ room.id }}/" class="button [tiny small large]">Редактировать</a>
            {% if user in users_in_room %}
                <a href="/rooms/leave/{{ room.id }}/" class="button [tiny small large]">Покинуть</a>
                <a href="/rooms/invite/{{ room.id }}/" class="button [tiny small large]">Пригласить</a>
            {% else %}
                <a href="/rooms/join/{{ room.id }}/" class="button [tiny small large]">Вступить</a>
            {% endif %}
            </div>

            <div>
            <div class="row">
                <div class="small-2 large-2 columns"><img src="{% static room.room_image %}" class="roomimage"></div>
                <div class="small-5 large-5 columns">
                    <h3><strong>{{ room.room_title }}</strong></h3>
                    <p><strong>Дата мероприятия:</strong>
                        {% if room.room_to_date %}
                        {{ room.room_to_date }}
                        {% else %}
                        не указана
                        {% endif %}
                    </p>
                </div>
                <div class="small-5 large-5 columns">
                    <strong>Комнату создал</strong> Уася{{ room.room_creator }} {{ room.room_create_date }}
                    {{ room_region }} <br>
                    Комната  {{ openclose }}
                </div>
            </div>
            </div>
        <div class="panel callout radius">
            <h5>Описание комнаты</h5>
            <p>{{ room.room_text }}</p>
        </div>


        <strong>В комнате </strong> {{ room.room_people_count }} человек:
        {% for user_name in users_in_room %}
        <a href="/account/{{ user_name.username }}/">{{ user_name.username }}</a> |
        {% endfor %}
            <hr>
            <div>
                <h5><strong>Обсуждение</strong></h5>

                <div id="messages_list">
                    {% for message in messages %}
                        <div class="row">
                            <div class="small-9 large-9 columns">
                                 <strong>НИКНЕЙМ:</strong> {{ message.message_text }}
                            </div>
                            <div class="small-3 large-3 columns">
                                ({{ message.message_datetime }})
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <hr>
            {% if user in users_in_room %}
                <label>Сообщение
                    <input type="text" id="message_text" placeholder="текст сообщения" maxlength="200"/>
                    <button class="button" onclick="Dajaxice.room.send_message(Dajax.process,
                            {'room_id': {{ room.id }},
                            'message_text':$('#message_text').val()}); document.getElementById('message_text').value = '';"
                            >Отправить
                    </button>

                </label>
            {% endif %}
            </div>
        </div>

{% endblock %}
