{% extends 'base.html' %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
{% block rooms %}
    {% dajaxice_js_import %}

    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>

    <div id="chat">
        <div class="container-div">
            <a href="/rooms/editroom/{{ room.id }}/">Редактировать</a>
            <a href="/rooms/join/{{ room.id }}/">Вступить</a>
            <a href="/rooms/leave/{{ room.id }}/">Покинуть</a>
            <a href="/rooms/invite/{{ room.id }}/">Пригласить</a>

            <h4>{{ room.room_title }}</h4>

            <div>
            <span><img src="{% static room.room_image %}" class="roomimage"></span><span><h6><strong>Дата мероприятия:</strong> {{ room.room_to_date }}</h6></span>
            </div>
            <h6 style="float:right"><strong>Дата создания: </strong>{{ room.room_create_date }}</h6>

            <p>{{ room.room_text }}</p>

            <p><strong>В комнате </strong> {{ room.room_people_count }} человек</p>
            <hr>
            <div>
                <h5><strong>Обсуждение</strong></h5>

                <div id="messages_list">
                    {% for message in messages %}
                        <p>
                        <strong>НИКНЕЙМ:</strong> {{ message.message_text }}
                        <span style="float:right">({{ message.message_datetime }})</span></p>
                    {% endfor %}

                </div>
                <hr>
                <label>Сообщение
                    <input type="text" id="message_text" placeholder="текст сообщения" maxlength="200"/>
                    <button class="button" onclick="Dajaxice.room.send_message(Dajax.process,
                            {'room_id': {{ room.id}},
                            'message_text':$('#message_text').val()}); document.getElementById('message_text').value = '';"
                            >Отправить</button>

                </label>
            </div>
        </div>
    </div>
{% endblock %}
