{% extends 'base.html' %}
{% load staticfiles %}
{% block login %}
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/authenty.css" %}">
    <div class="row text-center b-map">
        <hr>
        <p>Описание сервиса</p>
        <hr>
    </div>
    <div class="authenty signin-alt section-content" style="height: 495px;">
        <div class="row">
            {% if is_authenticated %}
                <div class="container-div center">
                    Что такое, {{ username }}? Вы же уже авторизорваны.
                    Впрочем, всегда можно <a href="/auth/logout">выйти</a>.<br/><br/>
                </div>
            {% else %}
                <div class="text-center">
                    <h3>Войти</h3>
                </div>
                <div class="medium-4 medium-offset-1 columns">
                    <div class="normal-signin">
                        <div class="form-main">
                            <form id="login_form" id="login_form" method="post" action="/auth/login/" role="form">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {% if login_error %}
                                        <p><strong>{{ login_error }}</strong></p>
                                    {% endif %}
                                    <div class="un-wrap">
                                        <i class="fa fa-envelope"></i>
                                        <input type="text" name="username" class="form-control"
                                               placeholder="Email"
                                               required>
                                    </div>
                                    <div class="pw-wrap">
                                        <i class="fa fa-lock"></i>
                                        <input type="password" name="password" class="form-control" placeholder="Пароль"
                                               required>
                                    </div>
                                    <div class="row top-buffer">
                                        <div class="medium-4 medium-offset-8 column">
                                            <button type="submit" class="btn btn-block signin">Войти</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class=" medium-2 small-1 columns">
                    <div class="horizontal-divider"></div>
                </div>
                <div class="medium-4 columns">
                    <div class="sns-signin">
                        <a href="#" class="vk"><i
                                class="fa fa-vk"></i><span>Войти через VK</span></a>
                        <a href="#" class="google-plus"><i
                                class="fa fa-google-plus"></i><span>Войти через Google+</span></a>
                    </div>
                </div>
                <div class="medium-1 columns"></div>
                </div>
                <div class="row top-buffer bottom-wrap">
                <div class="container">
                    <a href="/auth/register/" id="forgot_from_2">
                        <i class="fa fa-plus"></i> Создать аккаунт
                    </a>
                </div>
            {% endif %}
            </div>
    </div>

{% endblock %}