{% extends 'base.html' %}
{% block user_friends %}
    {% for friend in friends %}
        <div class="row">
            <div class="small-3 columns">
                <a href="/account/{{ friend.username }}" style="margin-top: 20px">
                    <div class="circular-friend"
                         style="background-image: url({{ friend.avatar.url }})">
                    </div>
                </a>
            </div>
            <div class="small-6 columns">
                <a href="account/{{ friend.username }}">
                    <h5>{{ friend.username }}</h5>
                    <h5>{{ friend.first_name }} {{ friend.second_name }}</h5>
                </a>
            </div>
            <div class="small-3 columns">
                <ul class="inline-list">
                    <li><a href="#">Пригласить в комнату</a></li>
                    <li><a href="/account/rooms">Посмотреть друзей</a></li>
                    <li><a href="/rooms/all">Посмотреть комнаты</a></li>
                    <li><a href="/account/friends">Написать сообщение</a></li>
                </ul>
            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock %}