{% extends 'base.html' %}

{% block user_page %}

    <div class="large-offset-3 large-6 columns">
        <form action="" method="post">
             <div class ="label round secondary"><a href="/account/edit/">Редактировать страницу</a></div>
            {% csrf_token %}
            <h3>{{ first_name }} {{ last_name }} ({{ username }})</h3>
            <h5>Email: {{ id_email }}</h5>
            <h5>День рождения: {{ date_of_birth }}</h5>
            <br>
        </form>
    </div>

{% endblock %}