{% load static %}
{% for user in users %}
    <div class="row">
        <div class="small-3 columns">
            <a href="../{{ user.username }}" style="margin-top: 20px">
                <div class="circular-user"
                     style="background-image: url({{ user.avatar.url }})">
                </div>
            </a>
        </div>
        <div class="small-6 columns">
            <a href="../{{ user.username }}">
                <h5>{{ user.username }}</h5>
            </a>
            <h5>{{ user.first_name }} {{ user.second_name }}</h5>
            <h6>{{ user.email }}</h6>
        </div>
        <div class="small-3 columns">
            <ul class="inline-list">
                <li><a href="#">Пригласить в комнату</a></li>
                <li><a href="//127.0.0.1:8000/account/rooms">Посмотреть друзей</a></li>
                <li><a href="//127.0.0.1:8000/rooms/all">Посмотреть комнаты</a></li>
                <li><a href="//127.0.0.1:8000/account/users">Написать сообщение</a></li>
            </ul>
        </div>
    </div>
    <br/>
{% endfor %}