{% load static %}
{% for user_ in users %}
    {% if user.username != user_.username or user_.username != "admin" %}
    <div class="row">
        <div class="small-3 columns">
            <a href="../{{ user_.username }}" style="margin-top: 20px">
                <div class="circular-friend"
                     style="background-image: url({{ user_.avatar.url }})">
                </div>
            </a>
        </div>
        <div class="small-6 columns">
            <a href="../{{ user_.username }}">
                <h5>{{ user_.username }}</h5>
                <h5>{{ user_.first_name }} {{ user_.second_name }}</h5>
            </a>
        </div>
        <div class="small-3 columns">
            <ul class="inline-list">
                <li><a href="#">Пригласить в комнату</a></li>
                <li><a href="//127.0.0.1:8000/account/rooms">Посмотреть друзей</a></li>
                <li><a href="//127.0.0.1:8000/rooms/all">Посмотреть комнаты</a></li>
                <li><a href="//127.0.0.1:8000/account/users">Написать сообщение</a></li>
            </ul>
        </div>
    </div>
    <br/>
    {% endif %}
{% endfor %}